.venv
.env
data
data_ner
model_ner
model
logs
__pycache__
testing.py
table.txt
table_comments_sentiment.txt
table_ner_tags_comments.txt
table_all_comments_sentiment.txt
table_root_comments_sentiment.txt
ner_context.txt
results